.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 300px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-header {
  background-image: linear-gradient(120deg, rgb(240, 152, 132) 0%, rgb(240, 152, 140) 100%);
  border-radius: 5px 5px 0 0;
  padding: 25px 0;
  position: relative;
  text-align: center;
}

.card-img {
  border: 3px solid #fff;
  border-radius: 171993px;
  margin: 50px 0 0 0;
  width: 100px;
}

.avatar {
  margin: 10px 0 20px 0;
}

.avatar-name {
  margin: 5px 0;
  color: #fff;
  text-transform: capitalize;
}

.avatar-handle {
  margin: 5px 0 5px 0;
  font-size: 16px;
  color: #efefef;
}

.card-btn {
  background-color: white;
  bottom: -20px;
  border-radius: 171993px;
  box-shadow: 0 10px 50px rgba(240, 152, 132, 0.15), 0 10px 50px rgba(240, 152, 132, 0.2);
  color: rgb(255, 158, 136);
  display: inline-block;
  font-size: 12px;
  height: 40px;
  left: 0;
  letter-spacing: 2px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  transition: all .2s ease-in-out;
  vertical-align: middle;
  width: 125px;
}

.card-btn:hover {
  box-shadow: 0 10px 50px rgba(240, 152, 132, 0.25), 0 10px 50px rgba(240, 152, 132, 0.25);
  cursor: pointer;
  transform: scale(1.05);
}

.locked-profile-badge {
  color: #ddd;
  font-size: 12px;
  text-align: center;
  margin-top: 45px;
}

.material-icons.md-16 { font-size: 16px; }

.locked-profile-badge p {
  margin-top: 0;
}